/* ===========================
   ToC 

   1.0 Phone
   1.1 Footer
   1.2 Layout
   =========================== */

/* ===================
   1.0 Phones 0 - 549px 
   =================== */

:root {
  // Colors

  // Primary
  --color-soft-red: hsl(7, 99%, 70%);
  --color-yellow: hsl(51, 100%, 49%);
  // graphic design text
  --color-dark-desat-cyan: hsl(167, 40%, 24%);
  // photography text
  --color-dark-blue: hsl(198, 62%, 26%);
  // footer
  --color-dark-mod-cyan: hsl(168, 34%, 41%);

  // Neutral
  --color-very-dark-desat-blue: hsl(212, 27%, 19%);
  --color-very-dark-gray-blue: hsl(213, 9%, 39%);
  --color-dark-gray-blue: hsl(232, 10%, 55%);
  --color-gray-blue: hsl(210, 4%, 67%);
  --color-white: hsl(0, 0%, 100%);
}

/* =============
   1.1 Footer 
   ============= */

.attribution {
  font-size: 1.4rem;
  text-align: center;

  width: max-content;
  color: hsl(168, 52%, 34%);
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
}

.attribution a {
  text-decoration: none;
  color: var(--color-dark-desat-cyan);
}

/* =============
   1.2 Layout 
   ============= */

.app-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin-block-start: -8rem;
  border-radius: 10px;

  background: var(--color-dark-grayish-blue);

  @media (min-width: 520px) {
  }
}
